---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Description"
	pubDate={new Date('March 25 2025')}
	heroImage="/aboutme-2.jpg"
>
	<p>
		Hi!
		My name is Wojtek — I’m a security enthusiast with a growth mindset and a passion for exploiting vulnerabilities in web applications and other systems.
		</br>
		Day to day, I work with international clients, hacking their applications to make them more secure.
		</br>	
		When I’m not buried in code or breaking things (on purpose), you’ll probably find me training BJJ, playing guitar, or getting lost in a good book.
		</br>
		This blog is where I’ll be sharing my experiences, lessons learned, and the ongoing journey of becoming the best security professional I can be.
	</p>

</Layout>
