---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello 👋</h1>
			<p>
				
				I am a growth-oriented and conscientious offensive security professional with real experience in the field.
				</br>
				This blog is my space to document the journey and publish things I've been working on.

			</p>

		</main>
		<Footer />
	</body>
</html>
